@{
    ViewBag.Title = "Home Page";
}

<div>
    
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Web application that listens events from Team Foundation Server and Visual Studio Team Services and performs actions through TFS Rest Api</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List of rules</h2>
        <p>
            Here you can find and create rules for tfs events.
        </p>
        <p>@Html.ActionLink("List of Rules", "Index", "Rules")</p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>
            History records
        </p>
        <p>@Html.ActionLink("Run history", "Index", "RunHistories")</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Additional information</p>
        <p>
            @Html.ActionLink("List of RuleTypes", "Index", "RuleTypes")<br />
                @Html.ActionLink("Rules revisions", "Index", "Revisions")
            </p>
    </div>
</div>